@import "tailwindcss";

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-inter), sans-serif;
}
